<div class="button-add-etudiant"><h3>Etudiants</h3><button class="add-student">+ Ajouter un étudiant</button></div>
<div class="content-student-list">
  <ul>
    @for (student of students; track student.id){
      <li>
        <div>
          <span><i class="fas fa-portrait"></i></span>
          <span>{{student.firstName}}</span>
          <span>{{student.lastName}}</span>
        </div>
        <div>
          <span class="delete" (click)="deleteStudent(student.id)"><i class="fas fa-trash-alt"></i></span>
          <span class="edit"><i class="far fa-edit"></i></span>
        </div>
      </li>
    }
  </ul>
</div>


